.convidar{
    height: 10rem;
}
.convidar__form{
    padding: 10px;
    display: flex;
    height: 100%;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    > input[type="submit"]{
        padding: 5px 20px;

        background: lightgreen;
        border: 1px solid black;

        border-radius: 10px;

        cursor: pointer;
    }
    > label{
        width: 85%;

        > input[type="email"]{
            width: 100%;
            border: 1px solid black;
            border-radius: 5px;

            text-indent: 1ch;
        }
    }
}
