.modal {

    display: hidden;
    position: relative;
    border-radius: 20px;

    /* Com certeza não peguei da internet*/
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.modal[open]{
    animation: aparecer .3s;
}

@keyframes aparecer{
    from {
        scale: .5;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}


.modal__fechar{
    position: absolute;

    top: 5px;
    right: 8px;

    width: 1.2rem;
    height: 1.2rem;

    border: 1px solid black;
    border-radius: 100%;

    transition-property: border-color background;
    transition-duration: .15s;

    &:hover{
        border-color: red;

        background: black;
    }

    > span {
        display: block;

        font-size: 1.1rem;

        transform: translateY(-4px);

        transition-property: color;
        transition-duration: .15s;

        &:hover{
            color: red;
        }
    }
}
